<% content_for :page_title do %>
    Акции
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to 'Добавить акцию', new_admin_sale_url, class: "btn-success", icon: 'add', id: 'admin_new_sale_link' %>
<% end %>

<% if @sales.any? %>
    <table class="table">
      <thead>
      <tr data-hook="admin_sales_index_headers">
        <th><%= Spree.t(:sale_id) %></th>
        <th class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @sales.each do |sale|%>
          <tr id="<%= spree_dom_id sale %>" data-hook="admin_sales_index_rows">
            <td><%= sale.name %></td>
            <td class="actions text-right">
              <%= link_to 'Редактировать', edit_admin_sale_path(sale) %>
              <%= link_to 'Удалить', admin_sale_path(sale),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-warning">
      Еще нет акций,
      <%= link_to(Spree.t(:add_one), new_admin_sale_url) %>!
    </div>
<% end %>
