<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">

      <div class="row">
        <div class="col-md-2">
          <figure id="logo">
            <%=logo%>
            <span class="company-name">Бетар-Волга</span>
          </figure>
        </div>

        <div class="col-md-7 col-sm-12">
          <nav>
            <div id="main-nav-bar" class="navbar">
              <ul class="nav navbar-nav" data-hook>
                <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О компании<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li id="about-link" data-hook><%= link_to 'Как мы работаем', '/how_we_work' %></li>
                    <li id="about-link" data-hook><%= link_to 'Доставка', '/delivery' %></li>
                    <li id="about-link" data-hook><%= link_to 'Самовывоз', '/pickup' %></li>
                    <li id="about-link" data-hook><%= link_to 'Вакансии', '/vacancies' %></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Информация<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li id="about-link" data-hook><%= link_to 'О нас', '/about_us' %></li>
                    <li id="about-link" data-hook><%= link_to 'Бренды', '/brands' %></li>
                    <li id="about-link" data-hook><%= link_to 'Каталоги', '/catalogs' %></li>
                    <li id="about-link" data-hook><%= link_to 'Сертификаты', '/certificates' %></li>
                    <li id="about-link" data-hook><%= link_to 'Статьи', '/articles' %></li>
                  </ul>
                </li>

                <li id="about-link" data-hook><%= link_to Spree.t(:contacts), '/contacts' %></li>

              </ul>
            </div>
          </nav>
        </div>

        <div class="col-md-3 col-sm-12">
          <ul class="row cart-wrap nav navbar-nav" data-hook>
            <li id="link-to-cart" data-hook>
              <%= link_to Spree.t(:cart), '/cart', :class => 'cart-info' %>
              &nbsp;
            </li>
            <script>
                $(function(){
                    if ($('.datagrid').length == 0) Spree.fetch_cart()
                });
            </script>
          </ul>

          <div class="row auth-info">
            <% if spree_current_user %>
                  <span>
                    <%= link_to Spree.t(:account), account_path %>
                  </span>
                <span>
                    <%= link_to Spree.t(:logout), spree_logout_path%>
                  </span>
            <% else %>
                  <span>
                    <%= link_to Spree.t(:login), spree_login_path %>
                  </span>
                <span>
                    <%= link_to Spree.t(:signup), spree_signup_path %>
                  </span>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </header>

  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6 col-sm-12">
          <div class="company-phone">
            <%= Spree::Store.current.phone_number %>
          </div>
          <div class="search-wrap">
            <%= render :partial => 'spree/shared/search' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



